.homes-banner {
    background: 
    linear-gradient(
      rgba(1, 13, 22, 0.60), 
      rgba(1, 13, 22, 0.60)
    ),
    url("https://marketplace.canva.com/MAC3UhBosXg/1/screen/canva-kitchen%2C-real-estate%2C-interior-design%2C-architecture-MAC3UhBosXg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30em;
    width: 100%;
}

.homes-description-container {
    padding: 7% 0% 0% 30%;
}

.homes-banner-description {
    font-family: 'Cinzel', serif;
    line-height: 75px;
    text-align: center;
    font-size: 48px;
    color: white;
    width: 500px;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.home-description {
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.home-picture-group {
    display: flex;
    flex-direction: row;
}

.display-image {
    height: 30em;
    width: 45%;
    margin: 5%;
}

@media (max-width: 768px) { 
    .homes-banner {
        background: 
        linear-gradient(
          rgba(1, 13, 22, 0.60), 
          rgba(1, 13, 22, 0.60)
        ),
        url("https://marketplace.canva.com/MAC3UhBosXg/1/screen/canva-kitchen%2C-real-estate%2C-interior-design%2C-architecture-MAC3UhBosXg.jpg") 10% 65%;
        height: 20em;
    }

    .homes-description-container {
        padding: 10% 0% 0% 15%;
    }

    .homes-banner-description {
        font-size: 32px;
    }

    .home-picture-group {
        flex-direction: column;
        align-content: center;
    }

    .display-image {
        width: 90% !important;
    }
}

@media (max-width: 480px) {

    .homes-description-container {
        padding: 10% 0% 0% -10%;
    }

    .homes-banner-description {
        text-align: left;
    }

    .home-picture-group {
        flex-direction: column;
        align-content: center;
    }

    .display-image {
        height: 15em !important;
    }
}