.yachts-banner {
    background: 
    linear-gradient(
      rgba(1, 13, 22, 0.6), 
      rgba(1, 13, 22, 0.6)
    ),
    url("../images/luxe/yacht-cover.jpeg") no-repeat 0% -10% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30em;
    width: 100%;
}

.yachts-description-container {
    padding: 7% 0% 0% 30%;
}

.yachts-banner-description {
    font-family: 'Cinzel', serif;
    line-height: 75px;
    text-align: center;
    font-size: 48px;
    color: white;
    width: 500px;
}

.yachts-page-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.yachts-description {
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.yacht-picture-group {
    display: flex;
    flex-direction: row;
}

.display-image {
    height: 23em;
    width: 85% !important;    
    margin: 5%;
}

.image-title-group {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 50%;
}

.yacht-image-title {
    font-size: 16px;
    color: black;
    font-family: 'Cinzel', serif;
    width: 30px;
    height: 20px;
    margin-bottom: -60px;
    text-align: center;
    z-index: 1;
    padding-left: 45%;
    color: white; 
}

@media (max-width: 2200px) { 
    .yacht-image-title {
        margin-bottom: -70px;
    }
}

@media (max-width: 1800px) { 
    .display-image {
        height: 23em;
        width: 85% !important;
        margin: 5%;
        padding: 0% 5%;
    }

    .yacht-image-title {
        margin-bottom: -60px;
    }
}

@media (max-width: 768px) { 
    .yachts-banner {
        background: 
        linear-gradient(
          rgba(1, 13, 22, 0.6), 
          rgba(1, 13, 22, 0.6)
        ),
        url("../images/luxe/yacht-cover.jpeg") no-repeat 60% 0%;
        height: 20em;
    }

    .yachts-description-container {
        padding: 10% 0% 0% 15%;
    }

    .yachts-banner-description {
        font-size: 32px;
    }

    .yachts-picture-group {
        flex-direction: column;
        align-content: center;
    }

    .image-title-group {
        width: 75%;
        margin-left: 10%;
    }

    .display-image {
        padding: 0%;
        width: 90% !important;
    }
}

@media (max-width: 480px) {

    .yachts-description-container {
        padding: 10% 0% 0% -10%;
    }

    .yachts-banner-description {
        text-align: left;
    }

    .yacht-picture-group {
        flex-direction: column;
        align-content: center;
    }

    .yacht-image-title {
        margin-bottom: -45px;        
    }

    .image-title-group {
        width: 95%;
        margin-left: -5px;
    }

    .display-image {
        height: 15em !important;
        width: 100% !important;
    }
}