.yachts-banner {
    background: 
    linear-gradient(
      rgba(1, 13, 22, 0.60), 
      rgba(1, 13, 22, 0.60)
    ),
    url("../images/yacht-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30em;
    width: 100%;
}

.yachts-description-container {
    padding: 7% 0% 0% 30%;
}

.yachts-banner-description {
    font-family: 'Cinzel', serif;
    line-height: 75px;
    text-align: center;
    font-size: 48px;
    color: white;
    width: 500px;
}

.yachts-page-container {
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.yachts-description {
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.yachts-picture-group {
    display: flex;
    flex-direction: row;
}

.display-image {
    height: 23em;
    width: 40%;
    margin: 5%;
}

@media (max-width: 768px) { 
    .yachts-banner {
        background: 
        linear-gradient(
          rgba(1, 13, 22, 0.60), 
          rgba(1, 13, 22, 0.60)
        ),
        url("../images/yacht-banner.jpg") 50% 50%;
        height: 20em;
    }

    .yachts-description-container {
        padding: 10% 0% 0% 15%;
    }

    .yachts-banner-description {
        font-size: 32px;
    }

    .yachts-picture-group {
        flex-direction: column;
        align-content: center;
    }

    .display-image {
        width: 90% !important;
    }
}

@media (max-width: 480px) {

    .yachts-description-container {
        padding: 10% 0% 0% -10%;
    }

    .yachts-banner-description {
        text-align: left;
    }

    .yachts-picture-group {
        flex-direction: column;
        align-content: center;
    }

    .display-image {
        height: 15em !important;
    }
}